

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Press Start 2P";
    src: url('/fonts/PressStart2P-Regular.ttf');
}
.press {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    background: url('/image/bg__t.png') repeat;
    background-size: cover;
    background-color: #000;
    @apply overflow-y-auto;
}

@font-face {
    font-family: 'Press Start 2P';
    src: url(
            '/fonts/PressStart2P-Regular.ttf'
        )
        format('truetype');
}
#game-container {
    /* position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
    /* background-image: url('/image/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px) saturate(80%);
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    color: white;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
p,
ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

button {
    padding: 0.5rem 1rem;
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    /* padding: 20px; */
}

.tetris_player {
    grid-column: 1 / 2;
}

.tetris_opposer {
    grid-column: 2 / 3;
}

#webcam-container, .play-container {
    display: flex;
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px 0;
}

video,
canvas {
    display: block;
}

#gesture {
    transform: translateX(-50%);
    font-size: 24px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
}

.hidden {
    display: none;
}



#tetris-container {
    position: relative;
}

#tetris-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    pointer-events: none;
}



@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes move-up {
    0% {
        top: 10px;
    }

    100% {
        top: -50px;
    }
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
  animation: shake 0.2s; 
}


@keyframes fall {
  0% { transform: translateY(0); }
  100% { transform: translateY(100vh); }
}

.fall {
  animation: fall 1s forwards;
}

